body{
    background: #C1B7BA;
}
.view-container{
	padding-top: 30px;
    height: 100%;
}

.container{
    background:#fff;
    height: 100%;
    padding: 30px;
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-text{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
}
